.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  margin-right: -5px;
}

.form {
  width: 500px;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  width: 390px;
  height: 55px;
  font-family: MoreSugarRegular;
  font-size: 54px;
  text-align: center;
  margin-bottom: 100px;
  color: #8B4F4F;
}

.new-password-label {
  width: 400px;
  height: 80px;
  font-family: MoreSugarthin;
  font-size: 40px;
  color: #8B4F4F;
}

.new-password-input {
  width: 400px;
  height: 250px;
  border: none;
  border-radius: 20px;
  background: #F2E3E3 0% 0% no-repeat padding-box;
  font-size: 30px;
}

.confirm-new-password-label {
  width: 400px;
  height: 40px;
  font-family: MoreSugarthin;
  font-size: 40px;
  color: #8B4F4F;
  margin-bottom: 20px;
}

.confirm-new-password-input {
  width: 400px;
  height: 250px;
  border: none;
  border-radius: 20px;
  background: #F2E3E3 0% 0% no-repeat padding-box;
  font-size: 30px;
}

.password-requirements {
  width: 400px;
  height: 30px;
  font-family: MoreSugarthin;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #8B4F4F;
  margin-bottom: 60px;
}

.save-button {
  width: 190px;
  height: 10rem;
  margin-bottom: 40px;
  font-family: MoreSugarthin;
  font-size: 28px;
  border: none;
  border-radius: 12px;
  background: #F4AE00 0% 0% no-repeat padding-box;
}