/* Reset de Estilos Padrão do Navegador */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: MoreSugarRegular;
  src: url(../fonts/more-sugar.regular.ttf);
}

@font-face {
  font-family: MoreSugarThin;
  src: url(../fonts/more-sugar.thin.ttf);
}

body {
  background-color: #F4D27E;
  font-family: MoreSugarRegular;
}

img {
  max-width: 100%;
  height: auto;
}

/* Adicione mais estilos conforme necessário */