

body {
    margin: 0;
}

.main-registro {
    width: 100vw;
    height: 100vh;
    background-color: #F4D27E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 95vw;
    height: 95vh;
    background-color: #8B4F4F;
    border-radius: 20px;
}

.card-registro>h1 {
    color: #8B4F4F;
    font-family: MoreSugarRegular;
    font-size: 7vh;
    font-weight: 100;
    margin: 2vh 0vw;
}

#input{
    width: 4vw;
    border: 10px solid #000000; 
    padding: 20px;  
    border-radius: 5px; 
    top: -15px;
    position: relative;

}

.termos {
    display: flex;
}

.termos>p {
    color: #8B4F4F;
    font-size: 4vh;
    font-weight: 100;
    font-family: MoreSugarthin;
    margin: 40px 20px 30px 0px;
    justify-content: center;
    text-align: center;
}

.card-registro {
    width: 25vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8vh 4vw;
    background-color: #F2E3E3;
    border-radius: 20px;
    margin: 5vh auto 5vw auto;
}


.textfield>input {
    font-size: 4vh;
    width: 22vw;
    height: 5vh;
    font-family: MoreSugarthin;
    padding: 1vh;
    border-radius: 20px;
    margin-top: 3vh;
    border: none;
}

.textfield>input::placeholder {
    color: #E1C7C7;
    text-align: center;
}

.btn-registro {
    font-size: 5vh;
    font-family: MoreSugarthin;
    width: 20vw;
    padding: 10px;
    background-color: #F4AE00;
    border-radius: 30px;
    box-shadow: inset 2px 5px 20px rgba(122, 121, 121, 0.5);;
}