.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.containerImg {
    position: relative;
    height: 80%;
    width: 70%;
    margin-left: 13%;

}

.imgThinker {
    position: relative;
    width: 100%;
    height: 100%;
}

.containerForm {
    position: relative;
    height: 80%;
    width: 65%;
    margin-right: 13%;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailSpace {
    display: flex;
    flex-direction: column
}

.Forgot-password {
    position: relative;
    margin-top: 5%;
    margin-left: 13%;
    align-items: center;
    width: 71%;
    max-width: 450px;
    height: 1%;
    flex-shrink: 0;
    color: #8B4F4F;
    text-align: center;
    font-family: MoreSugarRegular;
    font-size: 160%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

#taskname {
    position: absolute;
    left: 11%;
    top: 28%;
    width: 75%;
    height: 10%;
    border-radius: 10px;
    background: #F2E3E3;
    font-family: MoreSugarThin;
    font-size: 20px;
    padding-left: 15px;
    position: absolute;
    border: 1px solid #F2E3E3;
    ;
}

.input-moved-down::placeholder {
    font-family: MoreSugarThin;
    font-size: 40px;
    color: #EDDADA;
    align-items: center;


}

.to-send {
    position: absolute;
    left: 32%;
    top: 40%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 34%;
    height: 9.3%;
    border-radius: 20px;
    background: #F4AE00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #000;
    font-family: MoreSugarThin;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 5px;
}

.codeSpace {
    display: flex;
    flex-direction: column;

}

.digite-o-cod {
    position: absolute;
    left: 17%;
    top: 48%;
    margin-top: 20px;
    flex-shrink: 0;
    color: #8B4F4F;
    text-align: center;
    font-family: MoreSugarThin;
    font-size: 25px;
    width: 400px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    word-wrap: break-word;
    max-width: 300px;
}

.containerInputs {
    width: 22px;
    position: absolute;
    left: 15%;
    top: 57%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0.1px;

}

.to-confirm {
    position: absolute;
    top: 85%;
    left: 34%;
    text-align: center;
    font-family: MoreSugarThin;
    font-size: 25px;
    height: 10%;
    border-radius: 20px;
    background: #F4AE00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 30%;
    color: #000;
    font-weight: 200;
    border: none;
}

.code {
    margin-top: 90px;
    text-align: center;
    width: 38px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: MoreSugarThin;
    font-size: 40px;

}