.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.containerForm {
    background-color: white;
    height: 50.7rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerInputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}


.input-moved-down {
    margin-top: 90px;
    width: 460px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F2E3E3;
    font-family: MoreSugarThin;    
    font-size: 40px;
}

.input-moved-down::placeholder {
    font-family: MoreSugarThin;    
    font-size: 40px;
    color: #EDDADA;

}

.to-send {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 70px;
    border-radius: 20px;
    background: #F4AE00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #000;
    text-align: center;
    font-family: MoreSugarThin;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.to-confirm {
    width: 218px;
    text-align: center;
    font-family: MoreSugarThin;
    font-size: 41px;
    height: 70px;
    border-radius: 20px;
    background: #F4AE00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 250px;
    color: #000;
    font-weight: 400;
    border: none;
}


.Forgot-password {
    align-items: center;
    width: 533px;
    height: 144px;
    flex-shrink: 0;
    color: #8B4F4F;
    text-align: center;
    font-family: MoreSugarRegular;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.digite-o-cod {
    margin-top: 40px;
    width: 502px;
    height: 70px;
    flex-shrink: 0;
    color: #8B4F4F;
    text-align: center;
    font-family: MoreSugarThin;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.code {
    margin-top: 60px;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: MoreSugarThin;    
    font-size: 40px;

}



